@media (max-width: 1024px) { /* LAPTOP */
  .portfolio-item img {
    width: 45%;
  }

  .brands-logos {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
        .footer-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .footer-links ul{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding-top: 2rem;
      }


      .portfolio-item{
        flex-direction: column;
      }
      
      .portfolio-item img{
        width: 100%;
      }
}

@media (max-width: 768px){
/* NAV */
    .hamburger{
        display: block;
    }

    .nav-links{
        display: none;
    }

    .imgContHero{
        width: 320px;
        height: 450px;
    }

    .hero-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .hero-overlay {
        padding: 0 6%;
        justify-content: center;
        text-align: center;
      }
  
      .hero-botones {
        justify-content: center;
      }
  

        .portfolio-item,
        .deDerecha {
          flex-direction: column;
          transform: translateY(40px);
        }

        .portfolio-item{
          display: flex;
          align-items: center;
          gap: 1rem;
        }


        .portfolio-item img {
          width: 100%;
          height: 250px;
        }

        .about-container {
          flex-direction: column;
        }
        .about-text{
          padding-left: 20px;
        }

        .brands-logos {
          grid-template-columns: 1fr;
        }
        .portfolio-texto p {
          line-height: 2.5;
        }
        .portfolio,
        .about,
        .brands,
        .contact {
          padding: 60px 20px;
        }

        .footer-redes{
          gap: 3rem;
        }
      .footer-grid {
        grid-template-columns: 1fr;
        gap: 5rem;
      }
    
      .footer {
        padding: 40px 24px 0;
      }

      .footer-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .footer-links ul{
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        padding-top: 2rem;
      }
      .footer-contacto{
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }

}


@media (max-width: 476px){
      .footer-links ul{
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
      }


}

